body{
    background-color: #f1f2f6;
}

.title{
    color: white;
    background-color: #d63031;
    margin:2.5%;
    padding: 1%;
    border-bottom: 5px solid #e17055;
    border-right: 5px solid #e17055;
    border-radius: 15px;
}
.subtitle{
    color: #636e72;
    margin: 3%;
}

.links{
    color: #636e72;
    text-decoration: none;
    border: solid 3px #636e72;
    border-radius: 15px;
    padding: .5%;
}
.links:hover{
    color: #fab1a0;
    border: solid 2px #fab1a0;
    font-size: 150%;
}

.L{
    margin:3%;
}